<h1 class="text-center">張貼新文章</h1>

<div class="col-md-4 col-md-offset-4">
  <%= simple_form_for [@group, @post] do |f| %>
      <div class="form-group">
        <%= f.input :content, input_html: {class: "form-control"} %>
      </div>

      <div class="form-actions">
        <%= f.submit "張貼", disable_with: "Submiting...", class: "btn btn-primary" %>
        <%= button_tag "取消", :type => 'reset', class: "btn btn-warning" %>
      </div>
  <% end %>
</div>